*{
    font-family:'Sora', sans-serif;
    margin: 0;
}

body{
    overflow-x: hidden;
}

.boton_cerrar{
    border: 0;
    background-color: white;
    cursor: pointer;
}

.nav{
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    max-width: 550px;
    top: 0;
    right: 0;
    background-color: black;
    bottom: 0;
    position: fixed;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
}

.nav.visible{
    opacity: 1;
    visibility: visible;
}

.nav_lista{
    text-align: right;
}

.nav_lista li a{
    display: block; 
    padding: 15px 0;
    text-decoration: none;
    color: white;
}

.nav_lista li a:hover{
    text-decoration: underline;
    font-weight: bold;
}

.titulo{
    background : linear-gradient(#89E0A4, #8AE1C3, #89C6E0);
    text-align: center;
    line-height: 60px;
}

.tabla{
    background-color: black;
    text-align: left;
    line-height: 50px;
    display: flex;
}

.menu{
    height: 30px;
}

.a_menu{
    margin-left: auto;
    padding-right: 30px;
    padding-top: 22px;
    cursor: pointer;
}

.a{
    color:white;
    padding: 15px;
    text-decoration: none;
}

.sobre_mi{
    text-align: center;
    padding: 15px;
}

.mi_imagen{
    height: 250px;
}

.contenedor_img {
    position: relative;
}

.image{
    height: 400px;
    max-width: 600px;
}

.imagen_actual {
    display: block;
}

.proyectos{
    text-align: center;
    padding-top: 80px;
    padding-left: 5%;
    border: 1px;
}

.tabla_proyectos td{
    border:black
}

.habilidad_img{
    height: 150px;
    padding: 30px;
}

.habilidades{
    padding-top: 80px;
    text-align: center;
}

.formulario{
    text-align: center;
    padding: 50px;
}

form {
    display: inline-block;
    text-align: left;
}

label {
    display: block;
}

.video{
    text-align: center;
}

.contenedor_img{
    position: relative;
    overflow: hidden;
}

.flechas{
    height: 40px;
}

