*{
    font-family:'Sora', sans-serif;
    margin: 0;
}

body{
    overflow-x: hidden;
}


.titulo{
    background : linear-gradient(#89E0A4, #8AE1C3, #89C6E0);
    text-align: center;
    line-height: 60px;
}

.tabla{
    background-color: black;
    text-align: left;
    line-height: 50px;
    display: flex;
}

.menu{
    height: 30px;
}

.a_menu{
    margin-left: auto;
    padding-right: 30px;
    padding-top: 22px;
}

.a{
    color:white;
    padding: 15px;
    text-decoration: none;
}

.sobre_mi{
    text-align: center;
    padding: 15px;
}

.mi_imagen{
    height: 250px;
}

.contenedor_img {
    position: relative;
}

.imagen {
    height: 400px;
    max-width: 600px;
    display: none;
    transition: opacity 1s ease-in-out;
    opacity: 1;
}

.imagen_actual {
    display: block;
}

.proyectos{
    text-align: center;
    padding-top: 80px;
    padding-left: 5%;
    border: 1px;
}

.tabla_proyectos td{
    border: 1px solid rgb(187, 185, 180);
    padding: 10px;
}

.habilidad_img{
    height: 150px;
    padding: 30px;
}

.habilidades{
    padding-top: 80px;
    text-align: center;
}

.formulario{
    text-align: center;
    padding: 50px;
}

form {
    display: inline-block;
    text-align: left;
}

label {
    display: block;
}

.video{
    text-align: center;
}

.contenedor_img{
    position: relative;
    overflow: hidden;
}

.flechas{
    height: 40px;
}